<div class="container">
    <form [formGroup]="searchForm">
        <div class="flex flex-wrap align-items-center justify-content-between">
            <div class="search-bar p-input-icon-left m-2">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Buscar por nombre" formControlName="selectedName"
                    class="search-input">
            </div>
            <div class="filters-container">
                <p-toolbar>
                    <div class="p-toolbar-group-start flex flex-column align-items-center md:align-items-start">
                        <label for="filters" class="filters-label">FILTROS</label>
                        <div class="filters-group flex flex-wrap justify-content-center md:justify-content-start">
                            <p-dropdown formControlName="selectedGenre" [options]="genders" optionLabel="name"
                                placeholder="Selecciona un género" class="mr-2" />
                            <input type="number" pInputText placeholder="Ingresa edad" formControlName="selectedAge"
                                class="mr-2">
                            <input type="number" pInputText placeholder="Ingresa porcentaje EAC"
                                formControlName="selectedCADPercent" class="mr-2">
                            <p-button label="Limpiar filtros" icon="pi pi-times" class="clear-filters-button"
                                [rounded]="true" (click)="clearFilters()" [disabled]="!hasSearched"></p-button>
                        </div>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <br>
    </form>

    <div *ngIf="patients.length === 0 && !hasSearched" class="no-results-container">
        <p>Aún no has registrado ningún paciente. Comienza agregando uno nuevo.</p>
        <p-button label="Agregar paciente" icon="pi pi-plus" (click)="addPatient()"></p-button>
    </div>

    <div *ngIf="filteredPatients.length === 0 && hasSearched" class="no-results-container">
        <p>No se encontraron pacientes que coincidan con los criterios de búsqueda.</p>
        <p>Verifica los filtros aplicados o intenta con otra información.</p>
    </div>

    <div class="card patient-cards" *ngIf="filteredPatients.length > 0">
        <div *ngFor="let patient of filteredPatients" class="col-12 md:col-4">
            <p-card header="{{patient.name}}" subheader="DNI: {{patient.dni}}" class="text-center"
                [style]="{ border: '1px solid #d4d2e3', borderRadius: '15px' }">
                <ng-template pTemplate="header">
                    <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge"
                        [style]="{ 'background-color': '#f2f1fa', color: '#5d5a88', 'margin-top': '2rem' }" />
                </ng-template>
                <p>Género: {{patient.gender}}</p>
                <p>Edad: {{patient.age}}</p>
                <ng-template pTemplate="footer">
                    <p-button label="Perfil" icon="pi pi-book" styleClass="w-8rem mx-auto" [rounded]="true"
                        (click)="selectPatient(patient)"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
