<form [formGroup]="patientFormGroup">
    <div class="flex justify-content-center align-items-center h-full">
        <p-card [style]="{ width: '360' }">
            <div class="flex flex-column md:flex-row md:px-5">
                <!-- Primera Columna -->
                <div class="w-full md:w-3 flex flex-column row-gap-3">
                    <!-- Dentro de la primera columna, en el bloque de la foto de perfil -->
                    <div class="flex flex-wrap justify-content-center text-center">
                        <p-image *ngIf="profilePictureUrl" [src]="profilePictureUrl" alt="Profile Picture"
                            width="250"></p-image>
                    </div>
                    <div *ngIf="isEditing" class="flex flex-wrap justify-content-center text-center mt-3">
                        <p-fileUpload mode="basic" chooseLabel="Browse" [auto]="true"
                            name="pictureProfileUri" customUpload="true" (uploadHandler)="onUpload($event)"
                            accept="image/*" maxFileSize="1000000" />
                    </div>

                    <h2>Información Personal</h2>
                    <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                        <label for="firstName">Nombres</label>
                        <input type="text" pInputText id="firstName" class="w-full" formControlName="firstName" />
                    </div>
                    <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                        <label for="lastName">Apellidos</label>
                        <input type="text" pInputText id="lastName" class="w-full" formControlName="lastName" />
                    </div>
                    <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                        <label for="birthdayDate">Fecha de nacimiento</label>
                        <p-calendar [showIcon]="true" class="w-full" formControlName="birthdayDate"
                            [showOnFocus]="false"></p-calendar>
                    </div>
                    <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                        <label for="gender">Género</label>
                        <p-dropdown formControlName="gender" [options]="genders" optionLabel="name" id="gender"
                            name="gender" class="w-full" />
                    </div>
                    <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                        <label for="dni">DNI</label>
                        <input type="dni" pInputText id="dni" class="w-full" formControlName="dni" />
                    </div>
                    <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                        <label for="phoneNumber">Celular</label>
                        <input type="text" pInputText id="phoneNumber" class="w-full" formControlName="phoneNumber" />
                    </div>
                    <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                        <label for="email">Correo</label>
                        <input type="text" pInputText id="email" class="w-full" formControlName="email" />
                    </div>
                </div>

                <div class="w-full md:w-1">
                    <p-divider layout="vertical" styleClass="hidden md:flex">
                        <b> </b>
                    </p-divider>
                    <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
                        <b> </b>
                    </p-divider>
                </div>

                <!-- Segunda Columna -->
                <div class="w-full md:w-8 flex flex-column gap-3">
                    <div class="flex flex-column md:flex-row gap-4">
                        <div class="w-full md:w-6 flex flex-column row-gap-3">
                            <h2>Información Médica Básica</h2>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="height">Altura (cm)</label>
                                <input type="number" pInputText id="height" class="w-full" formControlName="height" />
                            </div>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="weight">Peso (kg)</label>
                                <input type="number" pInputText id="weight" class="w-full" formControlName="weight" />
                            </div>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="bloodGroup">Grupo sanguíneo</label>
                                <input type="text" pInputText id="bloodGroup" class="w-full"
                                    formControlName="bloodGroup" />
                            </div>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="allergies">Alergias</label>
                                <input type="text" pInputText id="allergies" class="w-full"
                                    formControlName="allergies" />
                            </div>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="currentMedications">Medicación actual</label>
                                <input type="text" pInputText id="currentMedications" class="w-full"
                                    formControlName="currentMedications" />
                            </div>

                            <h2>Información sobre el Seguro Médico</h2>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="insuranceNumber">Número del seguro</label>
                                <input type="text" pInputText id="insuranceNumber" class="w-full"
                                    formControlName="insuranceNumber" />
                            </div>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="policy">Poliza</label>
                                <input type="text" pInputText id="policy" class="w-full" formControlName="policy" />
                            </div>
                        </div>

                        <div class="w-full md:w-1">
                            <p-divider layout="vertical" styleClass="hidden md:flex">
                                <b> </b>
                            </p-divider>
                            <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
                                <b> </b>
                            </p-divider>
                        </div>

                        <div class="w-full md:w-6 flex flex-column gap-3">
                            <h2>Historial Médico</h2>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="previousIllnesses">Enfermedades previas</label>
                                <input type="text" pInputText id="previousIllnesses" class="w-full"
                                    formControlName="previousIllnesses" />
                            </div>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="previousSurgeries">Cirugías previas</label>
                                <input type="text" pInputText id="previousSurgeries" class="w-full"
                                    formControlName="previousSurgeries" />
                            </div>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="currentConditions">Condiciones actuales</label>
                                <p-chips formControlName="currentConditions" id="currentConditions"
                                    name="currentConditions" />
                            </div>

                            <h2>Contacto de Emergencia</h2>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="emergencyContact">Nombre completo</label>
                                <input type="text" pInputText id="emergencyContact" class="w-full"
                                    formControlName="emergencyContact" />
                            </div>
                            <div class="flex flex-wrap justify-content-start align-items-start gap-2">
                                <label for="emergencyPhoneNumber">Celular</label>
                                <input type="text" pInputText id="emergencyPhoneNumber" class="w-full"
                                    formControlName="emergencyPhoneNumber" />
                            </div>
                        </div>
                    </div>

                    <div class="w-full flex flex-column gap-3">
                        <h2>Últimos Resultados</h2>
                        <div *ngIf="results && results.length > 0; else noResults">
                            <p-listbox [options]="results" formControlName="selectedResult" optionLabel="id"
                                [style]="{ width: '100%', 'background-color': '#EAE9F5' }" (onChange)="onSelectResult($event)">
                                <ng-template let-result pTemplate="item">
                                    <div class="flex gap-8">
                                        <p>Fecha: {{ result.createdAt | date:'short' }}</p>
                                        <p>Resultado obtenido: {{ result.predictionProbability }}</p>
                                    </div>
                                </ng-template>
                            </p-listbox>
                        </div>
                        <ng-template #noResults>
                            <p-card
                                [style]="{ 'background-color': '#EAE9F5', 'box-shadow': 'none', 'border': '1px solid #DBDBDE' }">
                                <div class="flex flex-wrap md:justify-content-between justify-content-center">
                                    <p>Parece que este paciente aún no tiene resultados.</p>
                                    <p-button label="Ir a predicción de EAC" (click)="goToCADPrediction()"
                                        icon="pi pi-check"></p-button>
                                </div>
                            </p-card>
                        </ng-template>
                    </div>

                    <div class="flex flex-wrap justify-content-center align-items-center">
                        <p-button *ngIf="!isEditing" (click)="onEditProfile()" label="Editar perfil" icon="pi pi-pencil"
                            styleClass="w-10rem mx-auto"></p-button>
                        <p-button *ngIf="isEditing" (click)="onSaveChanges()" label="Guardar" icon="pi pi-save"
                            styleClass="w-12rem mx-auto"></p-button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</form>