::ng-deep .p-listbox-item {
    height: 3rem !important;
    /* Ajusta la altura según sea necesario */
    line-height: 1.5 !important;
    /* Ajusta la altura de línea según sea necesario */
    /* Ajusta el relleno según sea necesario */
}

h2 {
    color: #2a2d77;
}